<nav>
    <div class="nav-wrapper light-blue darken-1 z-depth-5">
        <a href="#" class="brand-logo">OdontoSoft</a>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="fa fa-bars fa-3x" aria-hidden="true"></i></a>
        <ul id="nav-browser" class="right hide-on-med-and-down">
            <li><a href="#">Pacientes</a></li>
            <li><a href="#">Tratamiento</a></li>
            <li><a href="#">Control</a></li>
            <li><a href="#">Odontograma</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav light-blue darken-1 text-accent">
            <li><a href="#">Pacientes</a></li>
            <li><a href="#">Tratamiento</a></li>
            <li><a href="#">Control</a></li>
            <li><a href="#">Odontograma</a></li>
        </ul>
    </div>
</nav>
